body {bockgraoound-color:#A9A9A9;text-align;justify;font-size;18px;}
h1{text-align:center;background-color:#...;color:#...;}
h3{text-align:justify;color:#...}
b{color:blue;pont-size:18px;}
i{color:blue;pont-size:18px;}
header,pooter{background-color:#...;text-align:center;font-size:13px;}
main{background-color:#A9A9A9;}
PRIMEIROPARAGRAFO {text-align:justify;font-size:18px;border:black Solid 2px; padding:30px; margin: 30px;)
SEGUNDOPARAGRAFO (text-alignjustify; Pont-Size:18px;border :black Solid 2px; padding:30px; margin: 30px;)
#TITULOIMAGEM (widtth:51 ; height: 5%;)
#Lista (display: inline-block;)
